<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
       </button>
       <a href="/" class="navbar-brand">iLoveMyCity!</a>
    </div>
    <% if(cities) { %>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% for(var city in cities) {%>
              <% if(cities.hasOwnProperty(city)) { %>
                <li><a href="/city/<%= city %>"><%= cities[city].label %></a></li>
              <%}%>
            <%}%>
          </ul>
      </div>
    <%}%>
 </div>
</div>
