<div class="col-md-4 col-md-offset-4">

    <h1>Login to your account</h1>

    <div class="loginerror" ng-show="uc.loginerror != null">
        <code>{{uc.loginerror}}</code>
    </div>

    <form name="loginForm">
        <p class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" required class="form-control input-lg" ng-model="uc.email" placeholder="email address" />
        </p>

        <p class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" required class="form-control input-lg" ng-model="uc.password" placeholder="password" />
        </p>

        <p class="text-center">
            <button type="submit" class="btn btn-success btn-lg" ng-disable="loginForm.$invalid" ng-click="uc.login()"><i class="fa fa-user"></i> login</button>
        </p>
    </form>

    <div class="text-center">
        <a href="/#" ng-click="uc.register()"><i class="fa fa-user-plus"></i> register {{uc.email}}</a>
    </div>
</div>