<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{>metaheader}}
        <link rel="icon" href="/images/marks/favicon.ico" type="image/x-icon" />

        {{>preincludes}}
    </head>
    <body id="body-top" class="container col-xs-12">
        <div class="sidebar col-sm-4 col-xs-12">
            {{>marks_sidebar}}
        </div>
        <div class="container-page col-sm-8 col-xs-12">
            <div class="container-fluid">
                {{{body}}}
            </div>
        </div>

        {{>postincludes}}
        {{>messanger}}
    </body>
</html>