<p align="center">
Leave the marks !!!
</p>

<blockquote>
    <code>leavethemarks</code> application is developed using popular NodeJS framework, <a target="_blank" href="http://expressjs.com/">express</a>.
</blockquote>

<blockquote>
    Application is powered by <a href="https://www.mongodb.org/" target="_blank">MongoDB</a> hosted on <a href="https://mongolab.com/" target="_blank">MongoLab</a>
</blockquote>

<blockquote>
    Surely we are not going to miss  <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> which provides the application its cool look.
</blockquote>

<blockquote>
    Last but not the least, thanks to <a href="https://pradeepanbagally.github.io/" target="_blank">Pradeepa</a> for designing the logo
</blockquote>