<p align="center" class="headingFont">
    Leave the marks !!!
</p>

<blockquote>
    We believe that everyone is fighting with something and have a story to tell.
    That's why we created <code>leave the marks</code> foundation where people share their
    life changing stories.
</blockquote>

<blockquote>
    Right now when you are reading this someone is going to be operated in ICU.
    A mother is going to give birth to a pre-mature baby, a husband is going to see his wife for last time.
    A player is going to hit a home run. A student is going to fail in exams.<br/><br/> Every second creates a story
    and we share the best stories with you.<br/> Read the stories <a href="/stories">here</a> or <a href="/newstory">write your own story</a>
</blockquote>